# Build outputs
dist
build

# Dependencies
node_modules

# Logs
logs
*.log

# Cache directories
.cache
.vite

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 